.root {
    padding-top: 1em;
    padding-bottom: 2em;
  }
  .navLink {
    margin-right: 2em;
    text-decoration-line: none;
    color: #ffffff;
    align-self: baseline;
    display: inline-block;
  }
  .spanClass {
    padding: 1.5em;
    display: flex;
    align-items: stretch;
    justify-items: center;
  }
  .imgNav {
    padding-right: 2em;
    margin-right: 20em;
    display: inline;
    margin-top: 0em;
    width: 20em;
  }
  .div {
    display: inline;
    align-self: center;
  }
  .divContent {
    display: inline-block;
  }
  