.root {
    
  
    background-color: rgb(255, 255, 255);
    width: 100%;
 
  
  }
  
  .space {
    padding-top: 2em;
    display: inline-block;
    justify-content: center;
    columns: 1;
    padding-bottom: 2em;
  }
  .projectSize {
    padding-top: 4em;
  }
  .center {
   
  }
  
  .h1MyProjects {
    padding-top: 1em;
    font-size: 1.8em;
  }

 