.root {
    background-color: #ffffff;
    padding-bottom: 0em;
}

.spanClassOurWork {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0em;
}

.h1OurWork {
    color: #000000;
    padding-bottom: 1em;
    font-size: 3.5em;
}

.spanClassOurWorkTwo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8em;
}

.ourworkclass {
    display: inline-block;
    width: 20em;
    font-family: Times New Roman, serif;
    font-size: 3em;
    padding: 1em 0.5em;
}

.divcenter {
    margin: 0em;
    padding: 7em 0em 0em;
}

.divTop {
    padding-bottom: 9em;
}