.root {
    display: inline-block;
}

.divSVG {
    align-items: center;
    width: 70em;
    display: inline;
    /* Changed to display: grid to utilize grid properties */
    grid-template-columns: repeat(7, 1fr);
    /* Changed to 7 columns */
    justify-content: center;
    /* Added justify-content to center the columns */
    isolation: isolate;
    mix-blend-mode: normal;
    overflow: hidden;
    background: white;
}

.spanSVG {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: row;
    isolation: isolate;
    mix-blend-mode: normal;
    background: white;
}

.logoSpace {
    height: 6.5em;
    width: 6.5em;
    margin: 0.35em;
}

.svgA {
    
}

.svgContainer {
    isolation: isolate;
    mix-blend-mode: normal;
    margin: 0.5em;
}

.svgContainer:hover {
    transition: 0.3s;
    transform: scale(1.2);
}

/* Centering the last row of logos */
.divSVG .svgContainer:last-child {
    justify-content: center;
    display: flex;
    /* Ensures the flexbox behavior for centering */
}

.spanSVG .svgContainer:last-child {
    justify-content: center;
    display: flex;
    isolation: isolate;
    mix-blend-mode: normal;
    /* Ensures the flexbox behavior for centering */
}

.skillsClass {
    padding-bottom: 1em;
}