.root {
    max-width: var(--container);
    margin: 0 auto;
    padding: 9rem var(--gutter) 0;
}

.header {
    margin-bottom: 4rem;
    max-width: 44rem;
}

.title {
    font-size: var(--text-xl);
    margin-bottom: 1rem;

    em {
        color: var(--text-secondary);
    }
}

.subtitle {
    color: var(--text-secondary);
    font-size: var(--text-lg);
}
