.root {
  display: flex;
  justify-content: center;
  width: 50%;
}

.divCardFive {
  box-shadow: 0 0 black;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: 100vh;
  padding: 1em;
  background-color: #ffffff;
  border-radius: 0.5em;
}

.h3CardFive {
  color: #4d4d4d;
  font-size: 1.5em;
  margin-top: 0.5em;
}

.imgCardFive {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
  border: 1px solid #ededed;
}

.parCardFive {
  
  color: #000000;
  font-size: 1.2em;
  margin-top: 0.5em;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .cardFiveDiv {
      width: 100%;
      padding: 0.5em;
  }

  .h3CardFive {
      font-size: 1.3em;
  }

  .parCardFive {
      font-size: 1em;
  }
}
