.root {
  background-color: #ffffff;
  padding-top: 3.5em;
  padding-bottom: 5em;
}
.contactsClass {
  background-color: #ffffff;
  text-align: center;
  margin: 3em;
  padding: 0em;
  box-shadow: 0 7px 30px 22px #e7e7e7;
}
.spanContactsClass {
  display: flex;
  padding: 0em;
  margin: 0em;
}
.divContacts {
  display: inline-block;
  padding-bottom: 10em;
}
.imgContacts {
  margin: 2em;
  width: 5em;
  height: 5em;
  font-size: 1.5em;
}
.contactFormDiv {
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0.49px 3.97px 29px -5px #ababab;
  width: 40em;
  height: 40em;
}
.h1contacts {
  font-size: 1.5em;
}
.h2contacts {
}
.contactMeClass {
  font-size: 1.8em;
}
