.root {
  position: center;
  padding-top: 0em;
  margin: 0em 2px 2px;
  padding-bottom: 3em;
}

.intro {
  text-align: center;
  padding-top: 1.5em;
  padding-right: 0px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 0em;
}
.button {
  padding: 1em 2.5em;
  margin-top: 1.5em;
  margin-right: 1em;
  margin-left: 1em;
  background-color: #2010a2;
  border: 3px solid #ffffff;
  color: #ffffff;
}
.h2title {
  font-size: 3.4em;
  color: #ffffff;
}
.h3subtitle {
  font-size: 1.4em;
  color: #ffffff;
}
.textparagraph {
  font-size: 1.5em;
  color: #fffefe;
}
