.root {
   
  
  }
  
  .logoSpace {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .background {
    margin: 16em;
  }
  
  .logosClass {
    justify-content: center;
    display: inline-block;
    width: 35em;
  }
  
  .h1 {
    font-size: 2em;
    padding-bottom: 1em;
    padding-top: 1.5em;
    color: #ffffff;
  }
  