.App {
  box-sizing: border-box;
  justify-content: center;
  padding-bottom: 10em;
  text-align: center;
  background: #010509e8;
  max-width: 100%;
  max-height: 100%;
  z-index: 0;

}

.logo {
  z-index: 1;
  padding: 1.25em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.ts:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.logo.scss:hover {
  filter: drop-shadow(0 0 2em #cc6698aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #2c3e50;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.space {
  padding-top: 100px;
  width: 100%;
}

.listTop{
  position: relative;
  display: flex;
  flex-direction: column;
}

.listTop::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -195px;
  height: 150px;
  background: #ffffff;
  transform: rotate(-3deg);
}

.listBottom{
  position: relative;
  display: flex;
  flex-direction: column;
}

.listBottom::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100px;
  height: 200px;
  background: #ffffff;
  transform: rotate(3deg);
}


.skillsBottom{
  position: relative;
  display: flex;
  flex-direction: column;
}

.skillsBottom::after {
  content: "";
  position: relative;
  left: 0;
  right: 0;
  bottom: -50px;
  height: 200px;
  background: #ffffff;
  transform: rotate(-2deg);
}

.heightAdjust {
  z-index: 2;
}