.root {
    width: 65em;
    display: flex;
    justify-items: start;
}

.linkClass {
    color: #000000;
    font-size: 1.25em;
    margin: 1em;
    font-weight: 300;
}

.contactClass {
    margin: 0em 0em 0.5em 0.5em;
    display: flex;
    justify-items: start;
    font-size: 2.25em;
}